---
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Launchbed Technology</title>
    <meta name="description" content="Agencia de desarrollo web especializada en landing pages y sitios web" />
  </head>
  <body class="bg-zinc-50 text-zinc-900 antialiased">
    <slot />
  </body>
</html>
